.game[b-zv4ssyz2yc] {
    flex-direction:column;
    align-items:center;
    display:flex;
    height:100%;
    transition: margin-top 500ms ease;
}
.timer[b-zv4ssyz2yc] {
    display: flex;
    width: 100%;
}
.font-best-time[b-zv4ssyz2yc]{
    font-size:2rem;
}
.front[b-zv4ssyz2yc] {
    position: absolute;
    height: 93%;
    background-color: cadetblue;
    border-radius: 10%;
    backface-visibility: hidden;
    transition: transform 500ms ease;
}
.back[b-zv4ssyz2yc] {
    position: absolute;
    height: 93%;
    background-color: #85858554;
    border-radius: 10%;
    transition: transform 500ms ease;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.button-reset[b-zv4ssyz2yc] {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: #a9e4ae;
    border: none;
}
    .button-reset:hover .rotate-reset[b-zv4ssyz2yc] {
        transform: rotateZ(360deg);
    }
.rotate-reset[b-zv4ssyz2yc] {
    transition: transform 1s ease;
}
.button-reset:hover .rotate-settings[b-zv4ssyz2yc] {
    transform: rotateZ(180deg);
}
.rotate-settings[b-zv4ssyz2yc] {
    transition: transform 1s ease;
}
.icon-mode-size[b-zv4ssyz2yc]{
    font-size:2rem;
}
@media screen and (max-width: 425px) {
    .game[b-zv4ssyz2yc] {
        width: 90%;
    }

    .timer[b-zv4ssyz2yc] {
        aspect-ratio: 1.5/1;
    }

    .top-menu-game[b-zv4ssyz2yc] {
        aspect-ratio: 5/1;
        width:100%;
    }
    .font-mode-size[b-zv4ssyz2yc]{
        font-size:0.7rem;
    }
    .font-best-time[b-zv4ssyz2yc]{
        font-size:1.7rem;
    }
}
@media screen and (min-width: 425px) {
    .game[b-zv4ssyz2yc] {
        width: 85%;
    }
    .timer[b-zv4ssyz2yc] {
        aspect-ratio: 5/1;
    }
    .top-menu-game[b-zv4ssyz2yc] {
        aspect-ratio: 6/1;
        width: 85%;
    }
}
@media screen and (min-width: 768px) {
    .game[b-zv4ssyz2yc] {
        width: 80%;
    }
    .timer[b-zv4ssyz2yc] {
        aspect-ratio: 4/1;
    }
    .top-menu-game[b-zv4ssyz2yc] {
        aspect-ratio: 6/1;
        width: 80%;
    }
}
@media screen and (min-width: 992px) {
    .game[b-zv4ssyz2yc] {
        width: 80%;
    }

    .timer[b-zv4ssyz2yc] {
        aspect-ratio: 3/1;
    }

    .top-menu-game[b-zv4ssyz2yc] {
        aspect-ratio: 7/1;
        width: 80%;
    }
    .icon-mode-size[b-zv4ssyz2yc] {
        font-size: 3rem;
    }
}
@media screen and (min-width: 1200px) {
    .game[b-zv4ssyz2yc] {
        width: 40%;
    }

    .timer[b-zv4ssyz2yc] {
        aspect-ratio: 7/1;
    }

    .top-menu-game[b-zv4ssyz2yc] {
        aspect-ratio: 10/1;
        width: 40%;
    }
}

