@page "/"

<div class="row start-menu">
    <div class="col-12 h-100 p-0">
        <div class="d-flex justify-content-center align-items-end" style="height:55%;">
            <button style="width: 50%; border-radius: 50%; outline: none; aspect-ratio: 1/1; background-color: #a9e4ae; border: 1px solid #676767; box-shadow: 0 0 14px -8px black; ">
                <i class="fas fa-play font-size-play" style="color:white;"></i>
            </button>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="height:45%;">
            <button class="d-flex align-items-center" style="width: 75%; height: 40%; border-radius: 1rem; border: none; outline: none; background-color: #a9e4ae; border: 1px solid #676767; box-shadow: 0 0 14px -8px black; ">
                <div style="width:20%;" class="d-flex justify-content-end">
                    <i class="fas fa-cog font-size-icon-sett"></i>
                </div>
                <div style="width: 80%; font-family: cursive;" class="font-size-settings">
                    <span>
                        SETTINGS
                    </span>
                </div>              
            </button>
        </div>
    </div>
</div>

@code {

}
