@import '';

/* _content/MemoryGame/Pages/HomePage.razor.rz.scp.css */
.start-menu[b-l4g5sfkfl7] {
    width: 20%;
    box-shadow: 0 0 19px -10px black;
    border-radius: 2rem;
    background-color: #90be9f;
    border: 1px solid #878787;
    aspect-ratio: 1/1;
}



@media screen and (max-width:425px) {
    .start-menu[b-l4g5sfkfl7] {
        width: 90%;
    }
    .font-size-play[b-l4g5sfkfl7]{
        font-size:4rem;
    }
    .font-size-settings[b-l4g5sfkfl7] {
        font-size:1.7rem;
    }
    .font-size-icon-sett[b-l4g5sfkfl7]{
        font-size:2rem;
    }
}

@media screen and (min-width:425px) {
    .start-menu[b-l4g5sfkfl7] {
        width: 70%;
    }
    .font-size-play[b-l4g5sfkfl7] {
        font-size: 5rem;
    }
    .font-size-settings[b-l4g5sfkfl7] {
        font-size: 2rem;
    }
    .font-size-icon-sett[b-l4g5sfkfl7] {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .start-menu[b-l4g5sfkfl7] {
        width: 60%;
    }
    .font-size-play[b-l4g5sfkfl7] {
        font-size: 6rem;
    }
    .font-size-settings[b-l4g5sfkfl7] {
        font-size: 2rem;
    }
    .font-size-icon-sett[b-l4g5sfkfl7] {
        font-size: 2.7rem;
    }
}

@media screen and (min-width: 885px) {
    .start-menu[b-l4g5sfkfl7] {
        width: 60%;
    }

    .font-size-play[b-l4g5sfkfl7] {
        font-size: 6rem;
    }

    .font-size-settings[b-l4g5sfkfl7] {
        font-size: 2rem;
    }
    .font-size-icon-sett[b-l4g5sfkfl7] {
        font-size: 2rem;
    }
}
@media (min-width: 992px) {
    .start-menu[b-l4g5sfkfl7] {
        width: 50%;
    }

    .font-size-play[b-l4g5sfkfl7] {
        font-size: 6rem;
    }

    .font-size-settings[b-l4g5sfkfl7] {
        font-size: 2rem;
    }
    .font-size-icon-sett[b-l4g5sfkfl7] {
        font-size: 3.3rem;
    }
}
@media (min-width: 1200px) {
    .start-menu[b-l4g5sfkfl7] {
        width: 25%;
    }
    .font-size-play[b-l4g5sfkfl7] {
        font-size: 6rem;
    }
    .font-size-settings[b-l4g5sfkfl7] {
        font-size: 2rem;
    }
    .font-size-icon-sett[b-l4g5sfkfl7] {
        font-size: 2rem;
    }
}
/* _content/MemoryGame/Shared/MainLayout.razor.rz.scp.css */
.page[b-skpifezvmt] {
    position: relative;
    display: flex;
    flex-direction: column;
}


